body {
    margin: 0;
    font-family: Roboto;
}

.container {
    display: flex;
    flex-direction: column;
}

.header, .footer, .one {
    background-color: #1F2937;
}

.header, .footer, .one, .two, .three, .four {
    padding: 20px 17%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 200px; */
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header-links {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.one {
    display: flex;
    justify-content: space-between;
    flex: auto;
    height: 250px;
    gap: 50px;
}

.website-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sign-up {
    height: 20px;
    width: 100px;
    
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FaF8;
}

.two {
    height: 250px;
    flex: auto;
}

.three {
    height: 250px;
    flex: auto;
    background: #E5E7EB;
}

.four {
    height: 250px;
    flex: auto;
}
